<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="apps-accessories-menu" label="Accessories">
    <item label="Calculator">
      <action name="Execute">
        <command>gnome-calculator</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>
  <menu id="apps-editors-menu" label="Editors">
    <item label="GVim">
      <action name="Execute">
        <command>gvim</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>GVim</wmclass>
        </startupnotify>
      </action>
    </item>
    <item label="Vim">
      <action name="Execute">
        <command>xterm -e vim</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>Vim</wmclass>
        </startupnotify>
      </action>
    </item>
    <item label="Leafpad">
      <action name="Execute">
        <command>leafpad</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>Leafpad</wmclass>
        </startupnotify>
      </action>
    </item>
  </menu>
  <menu id="apps-term-menu" label="Terminals">
    <item label="Xterm">
      <action name="Execute">
        <command>xterm</command>
      </action>
    </item>
  </menu>
  <menu id="apps-net-menu" label="Internet">
    <item label="Firefox">
      <action name="Execute">
        <command>firefox</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>Firefox</wmclass>
        </startupnotify>
      </action>
    </item>
    <item label="Chromium">
      <action name="Execute">
        <command>chromium</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>chromium</wmclass>
        </startupnotify>
      </action>
    </item>
    <item label="Skype">
      <action name="Execute">
        <command>skype</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Thunderbird">
      <action name="Execute">
        <command>thunderbird</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>
  <menu id="apps-office-menu" label="Office">
    <item label="LibreOffice Calc">
      <action name="Execute">
        <command>libreoffice -calc</command>
      </action>
    </item>
    <item label="LibreOffice Draw">
      <action name="Execute">
        <command>libreoffice --draw</command>
      </action>
    </item>
    <item label="LibreOffice Impress">
      <action name="Execute">
        <command>libreoffice --impress</command>
      </action>
    </item>
    <item label="LibreOffice Writer">
      <action name="Execute">
        <command>libreoffice --writer</command>
      </action>
    </item>
  </menu>
  <menu id="apps-multimedia-menu" label="Multimedia">
    <item label="Sonata">
      <action name="Execute">
        <command>sonata</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Audacity">
      <action name="Execute">
        <command>audacity</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="VLC">
      <action name="Execute">
        <command>vlc</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>
  <menu id="apps-fileman-menu" label="File Managers">
    <item label="Thunar">
      <action name="Execute">
        <command>thunar</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>
  <menu id="apps-graphics-menu" label="Graphics">
    <item label="Gimp">
      <action name="Execute">
        <command>gimp</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Viewnior">
      <action name="Execute">
        <command>viewnior</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Dia Diagram Editor">
      <action name="Execute">
        <command>dia</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
  </menu>
  <menu id="system-menu" label="System">
    <item label="Openbox Configuration Manager">
      <action name="Execute">
        <command>obconf</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Manage Cups Printers">
      <action name="Execute">
        <command>xdg-open http://localhost:631/</command>
        <startupnotify>
          <enabled>no</enabled>
          <icon>cups</icon>
        </startupnotify>
      </action>
    </item>
    <separator/>
    <item label="Reconfigure Openbox">
      <action name="Reconfigure"/>
    </item>
  </menu>
  <menu id="root-menu" label="Openbox 3">
    <separator label="Applications"/>
    <menu id="apps-accessories-menu"/>
    <menu id="apps-editors-menu"/>
    <menu id="apps-graphics-menu"/>
    <menu id="apps-net-menu"/>
    <menu id="apps-office-menu"/>
    <menu id="apps-multimedia-menu"/>
    <menu id="apps-term-menu"/>
    <menu id="apps-fileman-menu"/>
    <separator label="System"/>
    <menu id="system-menu"/>
    <separator/>
    <item label="Log Out">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
  </menu>
</openbox_menu>
