[submodule "configurations/vim/bundle/vim-eunuch"]
	path = configurations/vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "configurations/vim/bundle/vim-markdown"]
	path = configurations/vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "configurations/vim/bundle/supertab"]
	path = configurations/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "configurations/vim/bundle/nerdtree"]
	path = configurations/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "configurations/vim/bundle/vim-autoclose"]
	path = configurations/vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "configurations/vim/bundle/vim-gobstones"]
	path = configurations/vim/bundle/vim-gobstones
	url = https://github.com/ngarbezza/vim-gobstones.git
[submodule "configurations/vim/bundle/vim-nerdtree-tabs"]
	path = configurations/vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "configurations/vim/bundle/vim-octopress"]
	path = configurations/vim/bundle/vim-octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "configurations/vim/bundle/syntastic"]
	path = configurations/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "configurations/vim/bundle/vim-ruby-refactoring"]
	path = configurations/vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "configurations/vim/bundle/vim-abolish"]
	path = configurations/vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "configurations/vim/bundle/tagbar"]
	path = configurations/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "configurations/vim/bundle/lushtags"]
	path = configurations/vim/bundle/lushtags
	url = https://github.com/bitc/lushtags.git
[submodule "configurations/vim/bundle/vim-matchit"]
	path = configurations/vim/bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "configurations/vim/bundle/vim-characterize"]
	path = configurations/vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "utilities/rbenv"]
	path = utilities/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "utilities/ruby-build"]
	path = utilities/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "configurations/vim/bundle/vim-unite"]
	path = configurations/vim/bundle/vim-unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "configurations/vim/bundle/vim-presenting"]
	path = configurations/vim/bundle/vim-presenting
	url = https://github.com/sotte/presenting.vim.git
[submodule "configurations/vim/bundle/vim-airline"]
	path = configurations/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "configurations/vim/bundle/vim-rspec"]
	path = configurations/vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "configurations/vim/bundle/editorconfig"]
	path = configurations/vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "configurations/vim/bundle/vim-colors-solarized"]
	path = configurations/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "configurations/vim/bundle/vundle"]
	path = configurations/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
