[submodule "launchers/gedit-open"]
	path = launchers/gedit-open
	url = git://github.com/aaronsnoswell/gedit-open.git
[submodule "configurations/vim/bundle/vim-pathogen"]
	path = configurations/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "configurations/vim/bundle/vim-rails"]
	path = configurations/vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "configurations/vim/bundle/vim-fugitive"]
	path = configurations/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
