[Desktop Entry]
Type=Application
Exec=xbindkeys
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xbindkeys
Name=xbindkeys
Comment[en_US]=xbindkeys
Comment=xbindkeys
